html{
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

@media(max-device-width: 2000px) {
    .main_background{ 
        height: 80vh;
    }
    .main_background{
        background-position: 55% 5%;
    }
    .texto{
        font-size: 1.5rem !important;
    }
}

@media(max-device-width: 900px) {
    .main_background{ 
        height: 65vh;
    } 

    .main_background{ 
        background-position: 55% 30%;
    } 
}

@media(max-device-width: 500px) {
     .main_background{
        height: 50vh;
    }
    .main_background
    { 
        background-position: 55% 10%; 
    } 
}

.main_background{
    background-image: url("background (2).png");
    background-repeat: no-repeat, repeat;
    position: relative;
    background-size: auto;
    background-attachment:scroll;
    line-height: 1rem;
    text-align: center;
}

.main{
    background-color: #ABAFA9;
    color: white;
}

.titulo{
    font-size: 3rem;
    margin-top: 15rem;
}

.texto{

    padding: 0rem 4rem;
    margin-top: -10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
.texto a{
    text-align: center;
    text-decoration: none;
    width: 10rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 3rem;
    border: solid white 2px;
    color: white;
    background-color: #ABAFA9;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.contents {
    padding: 2rem 4rem;
    color: #545454;
}

.c_2{
    background-color: #888F87;
    margin-top: -2rem;
    color: white;
}

.titulo_regim{
    font-size: 3rem;
    color: #888F87;
}

.titulo_regimII{
    font-size: 3rem;
    color: #535a52;
}

.b_menu a{
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    position: absolute;
    margin: 2rem;
    width: 2rem;
    color: white;
    border-radius: 3rem;
    animation: button_menu 4s ease-in-out infinite;
    background-image: linear-gradient(#dcecd3, #888F87);
    border: solid #dcecd3 1px;
}

.atualmente p{
    padding: 0;
}

@keyframes button_menu {
    from {background-image: linear-gradient(to right, #dcecd3, #888F87);}
    to {background-image: linear-gradient(to bottom right,#dcecd3, #888F87);}
}