body{    
    background-color: #ABAFA9;
    font-family: 'Poppins', sans-serif;
    font-size: 25px; 
    text-align: center;
    color: white;
}


.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card
{
    overflow: hidden;
    border: 2px solid #ABAFA9;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    background-color: white;
    color:#888F87;
    width: 250px;
	margin: 20px;
	text-align: center;
    letter-spacing: -0.25px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.card:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #3c443b;
    cursor: pointer;
}

.card img {

    display: block;
    margin: 0 auto;
    object-fit: cover;
    order: 1;

    max-width:250px;
    max-height:250px;
    min-height:250px; 
    min-width:250px;
    width: auto;
    height: auto;
}

.card p {
	font-size: 18px;
	line-height: 1.5;
	margin-top: 10px;
}

@media(max-device-width: 900px) {
    footer{
        margin-bottom: 1rem ;
    }
}

footer{
    background-color: #888F87 !important;

}

footer > p{
    background-color: #888F87 !important;
}

